body {
    font-family: Arial, sans-serif;
    background: url('https://cdn.e-konomista.pt/uploads/2019/07/88455-image_1528817301-850x514.png ') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #888;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #143bca;
    color: beige;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #05154e;
}

#limpar {
    background-color: #e62d52;
    margin-top: 10px;
}

#limpar:hover {
    background-color: #e02424;
}

ol {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.remove-btn {
    background-color: #c998be;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

.remove-btn:hover {
    background-color: #c488b7;
}